@media only screen and (max-width: 768px) {
  .App {
    color: black;
    font-size: 15.5px;
    padding: 10px 40px 10px 15px;
    line-height: 42px;
    font-family: FamiljenGrotesk-Regular, sans-serif;
  }
}

a {
  font-size: 31px;
}
