@media only screen and (max-width: 768px) {
  .App {
    padding: 5px 50px 10px 20px;
  }

  footer {
    font-size: 30px;
    line-height: 40px;
    bottom: 30px;
    right: 45px;
    left: 25px;
  }

  a {
    font-size: 30px;
    line-height: 40px;
  }
}
