html,
html * {
  cursor: text;
}

.App {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 30px 100px 30px 35px;
  font-family: "FamiljenGrotesk-Regular", sans-serif;
  text-align: left;
  line-height: 40px;
}

@font-face {
  font-family: FamiljenGrotesk-Regular;
  src: url(fonts/FamiljenGrotesk-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

h1 {
  font-family: FamiljenGrotesk-Regular, sans-serif;
  font-weight: 100;
}

a {
  font-family: FamiljenGrotesk-Regular, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 24px;
  text-decoration-line: none;
  transition-duration: 4s;
  transition-delay: 5s;
}

a:hover {
  color: white;
  transition-duration: 0.15s;
  transition-delay: 0s;
}
