html,
html * {
}

.App {
  padding: 15px 60px 30px 35px;
  text-align: left;
  height: 100%;
  position: fixed;
  z-index: 2;
  cursor: url(images/Pointer2x.png), pointer;
}

.Footnote {
  color: whitesmoke;
  font-size: 30px;
  bottom: 85px;
  left: 35px;
  text-align: left;
  line-height: 40px;
  position: fixed;
  z-index: 1;
  cursor: url(images/Pointer2x.png), pointer;
}

@font-face {
  font-family: FamiljenGrotesk-Regular;
  src: url(fonts/FamiljenGrotesk-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: FamiljenGrotesk-Medium;
  src: url(fonts/FamiljenGrotesk-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: FamiljenGrotesk-Bold;
  src: url(fonts/FamiljenGrotesk-Bold.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: FamiljenGrotesk-Italic;
  src: url(fonts/FamiljenGrotesk-Italic.ttf);
  font-style: normal;
  font-weight: 100;
}

.link-text {
  font-family: FamiljenGrotesk-Regular, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 30px;
  text-decoration-line: none;
}

a {
  font-family: FamiljenGrotesk-Regular, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 30px;
  line-height: 40px;
  text-decoration-line: none;
  transition-duration: 4s;
  transition-delay: 5s;
}

footer {
  font-family: FamiljenGrotesk-Italic, sans-serif;
  color: lightgrey;
  font-size: 30px;
  line-height: 40px;
  text-decoration-line: none;
  position: fixed;
}

a:hover {
  color: white;
  transition-duration: 0.15s;
  transition-delay: 0s;
}

::selection {
  background-color: white;
  color: white;
}

.footnote-enter {
  opacity: 1;
  transition: opacity 500ms ease-in;
  animation: slide-in-from-left 0.5s forwards;
}

@keyframes slide-in-from-left {
  0% {
    transform: translate(-10%);
  }
  100% {
    transform: translate(0%);
  }
}
