html,
html * {
}

.App {
  padding: 20px 80px 30px 80px;
  text-align: left;
  height: 100%;
  width: inherit;
  position: fixed;
  z-index: 2;
  cursor: url(images/Pointer2x.png), pointer;
}

@font-face {
  font-family: FamiljenGrotesk-Regular;
  src: url(fonts/FamiljenGrotesk-Regular.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: FamiljenGrotesk-Medium;
  src: url(fonts/FamiljenGrotesk-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: FamiljenGrotesk-Bold;
  src: url(fonts/FamiljenGrotesk-Bold.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: FamiljenGrotesk-Italic;
  src: url(fonts/FamiljenGrotesk-Italic.ttf);
  font-style: normal;
  font-weight: 100;
}

a {
  font-family: FamiljenGrotesk-Regular, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 31.25px;
  line-height: 41.66px;
  text-decoration-line: none;
  transition-duration: 4s;
  transition-delay: 5s;
}

p {
  font-family: FamiljenGrotesk, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 31.25px;
  line-height: 41.66px;
  text-decoration-line: none;
  transition-duration: 4s;
  transition-delay: 5s;
}

.link-text {
  font-family: FamiljenGrotesk-Italic, sans-serif;
  color: black;
  font-weight: 100;
  font-size: 31.25px;
  text-decoration-line: none;
}

a:hover {
  color: white;
  transition-duration: 0.15s;
  transition-delay: 0s;
}

::selection {
  background-color: white;
  color: white;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Footer */
footer {
  font-family: FamiljenGrotesk-Italic, sans-serif;
  color: #c9c9c9;
  font-weight: 100;
  font-size: 31.25px;
  line-height: 41.66px;
  bottom: 50px;
  left: 80px;
  text-decoration-line: none;
  position: fixed;
  z-index: 9999;
}

.show-footer {
  opacity: 1;
  transform: translateY(0);
  animation: SlideInBottom 0.3s ease-out forwards;
}

/* Animations */
@keyframes SlideInBottom {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
